{% extends "base.html" %}
{% block content%}
{{super()}}

<div class="container">
    <h1>View Nodes</h1>
    <br>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">IP Address</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Sector</th>
            <th scope="col">PV Prefix</th>
            <th scope="col">State</th>
        </tr>
        </thead>
        <tbody>
        {% if nodes %}
        {% for node in nodes %}
        <tr>
            <td>{{ node.ipAddress }}</td>
            <td>{{ node.name }}</td>
            <td>{{ node.type }}</td>
            <td>{{ node.sector }}</td>
            <td>{{ node.pvPrefix }}</td>
            <td>{{ node.state }}</td>
            <td>
                <form method="POST" action="" >
                    <button  type="submit" name="node_ip" value={{node.ipAddress}} class="btn btn-info">Edit</button>
                </form>

            </td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}


{% block scripts %}
{{super()}}
<script>
    $(document).ready(function(){
        var node_ip;
        $("edit_button").click(function(){
            node_ip = $(this).attr('data-button');
            $.ajax({
                      type : 'POST',
                      url : "{{ url_for('view_nodes') }}",
                      data : {'node_ip':node_ip}

            });
        });
    });
</script>
{% endblock %}